@model BuildMonitor.Models.Admin.EditSettingsViewModel

@{
    ViewBag.Title = "Edit settings";
}

<div class="thirdWidth">
    @{Html.RenderPartial("EditBuildServer", Model.BuildServer);}
</div>

