@model BuildMonitor.Models.Admin.EditBuildServerViewModel

@{
    ViewBag.Title = "Admin";
}

<h3>Build servers</h3>
<ul>
@{
    foreach (var buildServer in Model.BuildServers)
    {
        <li>@buildServer.Name</li>
    }
}
</ul>