*.suo
*.user
[Bb]in/
[Oo]bj/
sql
[Bb]ackup/
_ReSharper.*
*ReSharper*
*.pidb
*.userprefs
.DS_Store
*.dev.local.config
*/[Bb]uild[Ll]og.*
*/[Uu]pgrade[Ll]og*.[Xx][Mm][Ll]
*/_UpgradeReport_Files
*/[Uu]pgrade[Ll]og*.[Hh][Tt][Mm]
*.[Pp]ublish.xml