@model MasterData.Core.Model.Products.ProducerModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

@using (Html.BeginForm("Edit", "Producer", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
    </div>
    <button type="submit" class="btn btn-success">Save</button>
}
