.flashMessageContainer
{
    width: 100%;
    bottom: 0;
}

.flashMessage
{
    min-height: 30px;
    background: rgba(30, 30, 30, 0.5);
    color: white;
}

.info
{
    color: lightskyblue;
}

.success
{
    color: greenyellow;
}

.warning
{
    color: orange;
}

.error
{
    color: red;
}

