@model WebShop.Core.Users.BasketModel

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

@Html.Partial("BasketContent", Model)

@if (!Model.IsEmpty)
{
    <div class="pull-right">
        @Html.ActionLink("Check out", "Start", "Checkout", null, new {@class="btn btn-success"})
    </div>
}
