<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="profileFolder" value="c:\deploy\profiles"/>
    <add key="defaultPackageFolder" value="c:\deploy\packages"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
