<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <connectionStrings>
    <add name="StuffLibraryBase"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StuffLibrary;Integrated Security=True;MultipleActiveResultSets=True"
         providerName ="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DatabaseProvider" value="sqlserver" />
  </appSettings>
  
</configuration>