<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MasterData" connectionString="must be specified"/>
  </connectionStrings>
  <appSettings>
    <add key="EnableNhDiagnostics" value="false"/>
    <add key="ShowNhSql" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>