.floatLeft
{
    float: left;
}

.clearBoth
{
    clear: both;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered
{
    border: 1px solid gray;
}

.verticalSpacer
{
    height: 20px;
}

.error
{
    color: red;
}

.warning
{
    color: orange;
}

.info
{
    color: lightskyblue;
}

.success
{
    color: lime;
}

.messageContainer
{
    padding: 3px;
    background: black;
}