<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="AssemblyMap" type="System.Configuration, AppSettingsSection"></section>
	</configSections>
  	
	<startup useLegacyV2RuntimeActivationPolicy="True">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
	<add key="SettingsPath" value="/Users/hansolo/settings/my.settings"/>
	</appSettings>
	
	<system.data>
		<DbProviderFactories>
		  <add name="MySQL Data Provider"
		       invariant="MySql.Data.MySqlClient"
		       description=".NET Framework Data Provider for MySQL"
		       type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	
</configuration>
