<configuration>
  <connectionStrings>
    <add name="MasterData" connectionString="SERVER=(local); Database=MasterData; User Id=webshop;Password=WebShop" />
  </connectionStrings>
  <appSettings>
    <add key="EnableNhDiagnostics" value="false" />
    <add key="ShowNhSql" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>