@model BuildMonitor.Models.Monitor.MonitorIndexViewModel

@{
    ViewBag.Title = "Monitor";
}

@section Header
{
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '/Hack/Execute',
                type: 'POST',
                data: { statement: statement },
                success: function (data) {
                    if (data) {
                        showOutput(data);
                    }
                    else {
                        showOutput('');
                    }
                    $("#SpinningWheel").hide();
                },
                error: function (xhr, error) {
                    showError(xhr.responseText);
                    $("#SpinningWheel").hide();
                }
            });

        });
    </script>
}

<h2>Monitor</h2>
@foreach(var group in Model.Monitor.Groups)
{
    <table>
        <thead>
            <tr>
                <th>
                    Build
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        @foreach(var build in group.Builds)
        {
            <tr>
                <td>
                    @build.Name
                </td>
                <td>
                    @build.StatusDisplay
                </td>
            </tr>
        }
    </table>
}

<div id="Builds">
    

</div>

<div id="BuildStatusTemplate"></div>