.clearer
{
    clear:both;
    height: 0px;
}

.flashmessage-content
{
    margin: 0 auto;
    width: 1100px;
}

.flashmessage-container
{
    position:fixed;
    bottom: 0;
    
    width: 100%;
    z-index: 9999;
    
    background-color: #535252;
    color: #fff;
}

/***** Flash messages *****/

.success,
.info,
.warning,
.error
{
    font-size: 50;
}

.success
{
    color: greenyellow;
}

.info
{
    color: deepskyblue;
}

.warning {
    color: orange;
}

.error {
    color: red;
}
