<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("CssAndStuff")
    <title>@string.Format("WebShop - {0}", ViewBag.Title)</title>
</head>
    <body>
        <div class="page-header">
            <div class="container">
                WebShop
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
