.statusRow
{
    background: #2b2b2b;
    height: 16px;
    border: 1px solid darkslategray;
    cursor: pointer;
}

.detailPane
{
    
}

.highlightedRow
{
    color: yellow;
    background: #ffffff;
}

.success
{
    
}

.error
{
    color: red;
}

.failure
{
    color: salmon;
}

.unknown
{
    color: cornflowerblue;
}

a.inactiveTopMenu
{
    font-weight: bold;
    font-size: 16px;
}

a.activeTopMenu
{
    font-weight: bold;
    color: cadetblue;
    font-size: 30px;
}

