.hidden
{
    display: none;
}

.clearBoth {
    clear: both;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.thirdWidth
{
    width: 33%;
}

.twoThirdsWidth
{
    width: 66%;
}

.fullWidth
{
    width: 100%;
}


.spacingAround,
.spacingAbove {
    margin-top: 10px;
}

.spacingAround,
.spacingBelow {
    margin-bottom: 10px;
}

.spacingAround,
.spacingLeft {
    margin-left: 10px;
}

.spacingAround,
.spacingRight {
    margin-right: 10px;
}