<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="backupFolder" value="c:\deploy\backup"/>
    <add key="deploymentStatusFolder" value="c:\deploy\status"/>
    <add key="profileFolder" value="c:\deploy\profiles"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
