@model WebShop.Core.Users.BasketModel

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

@Html.Partial("BasketContent", Model)

@using (Html.BeginForm("Purchase", "Checkout"))
{
    <button type="submit" class="btn btn-success pull-right">Confirm</button>
}