@model VisualFarmStudio.Models.BondegardIndexViewModel

@{
    ViewBag.Title = "Bondegårdoversikt";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Navn</th>
        <th>Rediger</th>
    </tr>
    
    @foreach (var bondegard in Model.Bondegards)
    {
        <tr>
            <td>
                @bondegard.Navn
            </td>
            <td>
                @Html.ActionLink("Rediger", "Edit", new {id = @bondegard.Id})
            </td>
        </tr>
    }

</table>
