.clearBoth {
    clear: both;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.spacingAbove {
    margin-top: 10px;
}

.spacingBelow {
    margin-bottom: 10px;
}

.spacingLeft {
    margin-left: 10px;
}

.spacingRight {
    margin-right: 10px;
}