@model StuffLibrary.Web.Models.MovieSearchViewModel

@{
    ViewBag.Title = "Movies";
}

@section header
{
    <script type="text/javascript">
        $(document).ready(function () {
            var statusPane = $("#statusPane");
            $("#searchButton").click(function () {
                search();
                return false;
            });
            
            function search() {
                var input = $("#searchForm").serialize();
                statusPane.html('');
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/Movie/Search",
                    data: input,
                    success: function (data) {
                        $("#movieList").html(data);
                    },
                    error: function (xhr) {
                        for(var key in xhr) {
                            console.debug(key + ': ' + xhr[key]);
                        }
                        
                        statusPane.html(xhr);
                    }
                });
            }
        });

    </script>
}

<h2>Movies</h2>

<div class="centered">
    <h3>Search</h3>
    @using(Html.BeginForm("Search", "Movie", FormMethod.Post, new {id = "searchForm"}))
    {
        @Html.TextBoxFor(m => m.Query)
        <input id="searchButton" type="submit" value="Search"/>
    }
    <div id="statusPane"></div>
    <div id="movieList">
    </div>

</div>
