@model VisualFarmStudio.Models.Bonde.LoginViewModel
@using VisualFarmStudio.ExtensionMethods

@{
    ViewBag.Title = "Log in";
}

@section header
{
    <script type="text/javascript">
        $(document).ready(function() {
            var inputField = $(@Html.Raw(Html.JQueryIdFor(m => m.Username).ToJavaScript()));
            inputField.focus();
        });
    </script>
}

<h2>Log in</h2>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Username)
    <input type="submit" value="Logg in"/>
    @Html.ActionLink("registrer ny bonde", "Register")
}

