@model DotNetPrograms.Common.Paging.PagedList<WebShop.Core.Model.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<ul>
@foreach (var product in Model)
{
    <li>@product.Name</li>
}
</ul>
