@model DotNetPrograms.Common.Paging.PagedList<WebShop.Core.Model.WebShopProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{
    <div class="input-group">
        <input type="text" class="form-control" id="Query" placeholder="Search"/>
        <button class="btn btn-default" type="submit">Search</button>
    </div>
}

<div>
    @Html.Partial("ProductList", Model)
</div>
