@model MasterData.Core.Model.PagedProductMasterList

@{
    ViewBag.Title = "Product masters";
}

<h2>Product masters</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name</li>
    }
</ul>
