<configuration>
  <connectionStrings>
    <add name="BasicManifest" connectionString="SERVER=(local); Database=BasicManifest; User Id=basic;Password=manifest" />
  </connectionStrings>
  <appSettings>
    <add key="ShowSql" value="true" />
    <add key="EnableNHibernateDiagnostics" value="false" />
  </appSettings>
</configuration>