<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MovieBase" connectionString="Server=localhost;Database=moviebase;Uid=moviebaser;Pwd=moviebaser;"/>
  </connectionStrings>
</configuration>
