<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr data-ng-repeat="camp in camps">
        <td>
            <a href="/View/Camp/{{camp.Id}}">{{camp.Name}}</a>
        </td>
    </tr>
    
</table>
