@model VisualFarmStudio.Models.Hack.HackViewModel

@{
    ViewBag.Title = "h4xx0rz";
}

<h2>h4xx0rz</h2>

@Html.ActionLink("Generate dummy data", "GenerateData");
@Html.ActionLink("Interactive", "Interactive");
