@using VisualFarmStudio.ExtensionMethods
@model VisualFarmStudio.Models.Hack.InteractiveViewModel

@{
    ViewBag.Title = "Interactive";
}

@section header
{
    <script type="text/javascript">

        function isEmpty(str) {
            return (!str || 0 === str.length);
        }

        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }
        
        function isBlankOrEmpty(str) {
            return isBlank(str) || isEmpty(str);
        }
        
        function getSelectedText() {
            var inputFieldId = @Html.Raw(Html.IdFor(m => m.Input).ToJavaScript());
            var textarea = document.getElementById(inputFieldId);
            var start = textarea.selectionStart; 
            var end = textarea.selectionEnd; 
            return textarea.value.substring(start, end);
        }

        function getSelectedTextOr(defaultValue) {
            var value = getSelectedText();
            if (isBlankOrEmpty(value)) {
                return defaultValue;
            }
            return value;
        }
        
        function showOutput(data) {
            var outputPane = $("#OutputPane");
            outputPane.html(data);
            if (isBlankOrEmpty(data)) {
                outputPane.hide();
            }
            else {
                outputPane.show();
            }
        }
        
        function showError(data) {
            var errorPane = $("#ErrorPane");
            errorPane.html(data);
            if (isBlankOrEmpty(data)) {
                errorPane.hide();
            }
            else {
                errorPane.show();
            }
        }

        function clearOutput() {
            showOutput('');
            showError('');
        }
        
        $(document).ready(function() {
            
            var inputField = $(@Html.Raw(Html.JQueryIdFor(m => m.Input).ToJavaScript()));
            inputField.keyup(function(e) {
                if (e.which == 13 && e.ctrlKey) {
                    executeStatement();
                    return false;
                }
                return true;
            });
        });
        
        function executeStatement() {
            $("#SpinningWheel").show();
            clearOutput();
            var inputField = $(@Html.Raw(Html.JQueryIdFor(m => m.Input).ToJavaScript()));

            var statement = getSelectedTextOr(inputField.val());
            $.ajax({
                url: '/Hack/Execute',
                type: 'POST',
                data: {statement: statement},
                success: function(data) {
                    if (data) {
                        showOutput(data);
                    }
                    else {
                        showOutput('');
                    }
                    $("#SpinningWheel").hide();
                },
                error:function(xhr, error){
                    showError(xhr.responseText);
                    $("#SpinningWheel").hide();
                }
            });
            
            $("#TempText").html(statement);
        }
        
    </script>
}

<h2>Interactive</h2>
<div class="floatLeft">(ctrl + Enter to execute)</div>
<div id="SpinningWheel" class="floatLeft hidden"><img src="/Content/images/wait20trans.gif" alt="executing.."/></div>
<div class="clearer"></div>
@Html.TextAreaFor(m => m.Input, 15, 100, new{@class="fullWidth"})
<div id="TempText"></div>
<div class="clearer"></div>
<textarea id="OutputPane" class="fullWidth hidden" rows="30" cols="100"></textarea>
<div id="ErrorPane" class="fullWidth hidden"></div>
